.card
  %h2.font-semibold.text-2xl Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'user@email.com', class: "form_input email"
    .field
      = f.label :password, class: "form_label"
      = f.password_field :password, autocomplete: "current-password",class: "form_input password"
    - if devise_mapping.rememberable?
      .field.mt-2
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in", class: 'button mt-2 '
  = render "devise/shared/links"
